<head>
  <link rel="stylesheet" href="/styles/create.css">

  {% include "./parts/styles.njk" %}
</head>

<body>
  <main>
    <form id="formCreateRecipe" method="post" action="/admin/recipes">
      <div class="createRecipe">
        <h1>Criando receita</h1>
        <button id="save" form="formCreateRecipe" type="submit">Salvar receita</button>
      </div>

      <div class="inputRecipe">
        <label>Imagem da receita</label>
        <input type="text" name="img" value="" placeholder="https://"/>
      </div>

      <div id="nameRecipe" class="inputRecipe">
        <label>Nome da Receita</label>
        <input type="text" name="name" value="" placeholder="Nome da receita"/>
      </div>

      <div id="recipeAuthor" class="inputRecipe">
        <label>Autor da receita</label>
        <input type="text" name="author" value="" placeholder="Nome do autor"/>
      </div>

      <div id="ingredients" class="inputRecipe">
        <label>Ingredientes</label>
        <input type="text" name="ingredients[]" value="" placeholder="Ingrediente" />
      </div>
      <button type="button" class="addIten">Novo ingrediente</button>

      <div id="preparation" class="inputRecipe">
        <label>Modo de preparo</label>
        <input type="text" name="preparation[]" value="" placeholder="Passo a passo" />
      </div>
      <button type="button" class="addIten">Novo passo</button>

      <div class="inputRecipe">
        <label>Informação</label>
        <textarea id="textArea" name="information" value="" placeholder="Escreva sua informção"></textarea>
      </div>
    </form>
  </main>
<body>