<body>
  <main>
    <div>
      <h1>Criando receita</h1>
      <button>Salvar receita</button>
    </div>

    <div>
      <label for="">Imagem da receita</label>
      <input type="text" value="" placeholder="https://"/>
    </div>

    <div>
      <h3>Nome da Receita</h3>
      <input type="text" value="" placeholder="Nome da receita"/>
    </div>

    <div id="recipeAuthor">
      <h3>Autor da receita</h3>
      <input type="text" value="" placeholder="Nome do autor"/>
    </div>

    <div id="ingredients">
      <div class="ingredient">
        <h3>Ingredientes</h3>
        <input type="text" name="ingredients[]" value="" placeholder="Ingredient" />
      </div>
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

  </main>
<body>