<head>
  <link rel="stylesheet" href="/styles/create.css">

  {% include "./parts/styles.njk" %}
</head>

<body>
  <main>
    <form id="formCreateRecipe" method="post" action="/admin/recipes">
      <div class="createRecipe">
        <h1>Criando receita</h1>
        <button id="save" form="formCreateRecipe" type="submit">Salvar receita</button>
      </div>

      <div class="inputRecipe">
        <label>Imagem da receita</label>
        <input type="text" name="img" value="" placeholder="https://"/>
      </div>

      <div id="nameRecipe" class="inputRecipe">
        <label>Nome da Receita</label>
        <input type="text" name="name" value="" placeholder="Nome da receita"/>
      </div>

      <div id="recipeAuthor" class="inputRecipe">
        <label>Autor da receita</label>
        <input type="text" name="author" value="" placeholder="Nome do autor"/>
      </div>

      <div id="ingredients" class="inputRecipe">
        <label>Ingredientes</label>
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="" placeholder="Ingrediente" />
        </div>
      </div>
      <button type="button" class="add-ingredient">Novo ingrediente</button>

      <div id="preparations" class="inputRecipe">
        <label>Modo de preparo</label>
        <div class="preparation">
          <input type="text" name="preparation[]" value="" placeholder="Passo a passo" />
        </div>
      </div>
      <button type="button" class="add-novo-passo">Novo passo</button>

      <div class="inputRecipe">
        <label>Informação</label>
        <textarea id="textArea" name="information" value="" placeholder="Escreva sua informção"></textarea>
      </div>
    </form>
  </main>

  <script src="/scripts/addIngredient.js"></script>
  <script src="/scripts/addPreparation.js"></script>
<body>