<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include "./parts/styles.njk" %}

  <title>Foodfy</title>
</head>
<body>
  <header>
    <div id="logoContainer">
      <a class="logo" href="/">
        <img src="/images/logo.png" alt="Foodfy">
      </a>
    </div>
    {% block link %}{% endblock %}
  </header>

  <main>
    <div id="descriptionContainer">
      <div id="textDescription">
        <h2>As melhores receitas</h2>
        <p>
          Aprenda a construir os melhores pratos
          com receitas criadas por profissionais
          do mundo inteiro.
        </p>
      </div>
      <img id="chef" src="/images/chef.png" alt="">
    </div>
  
    <div id="mostPopularContainer">
      <h2>Mais acessadas</h2>
      <div class="mostPopular">

      {% for recipe in recipes %}
        <div id="{{ recipe.id }}" class="mostPopularRecipes">
          <img src="{{ recipe.image }}" alt="">
          <h3>{{ recipe.title }}</h3>
          <p>por {{ recipe.author }}</p>
        </div>
      {% endfor %}
      
      </div>
    </div>
  </main>

  {% include "./parts/footer.njk" %}

  <script src="/scripts/script.js"></script>

</body>

</html>