<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodfy</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/index.css">

</head>
<body>
  <header>
    <div id="logoContainer">
      <a class="logo" href="/">
        <img src="/images/logo.png" alt="Foodfy">
      </a>
    </div>
    <nav id="details">
      <a href="/about">Sobre</a>
      <a href="/recipes">Receitas</a>
    </nav>
  </header>

  <main>
    <div id="descriptionContainer">
      <div id="textDescription">
        <h2>As melhores receitas</h2>
        <p>
          Aprenda a construir os melhores pratos
          com receitas criadas por profissionais
          do mundo inteiro.
        </p>
      </div>
      <img id="chef" src="/images/chef.png" alt="">
    </div>
  
    <div id="mostPopularContainer">
      <h2>Mais acessadas</h2>
      <div class="mostPopular">

      {% for recipe in recipes %}
        <div id="{{ recipe.id }}" class="mostPopularRecipes">
          <img src="{{ recipe.image }}" alt="">
          <h3>{{ recipe.title }}</h3>
          <p>por {{ recipe.author }}</p>
        </div>
      {% endfor %}
      
      </div>
    </div>
  </main>

  <footer>
    <p>Todos direitos reservados, receitas Foodfy.</p>
  </footer>

  <script src="/scripts/script.js"></script>

</body>

</html>