<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include "./parts/styles.njk" %}

  <link rel="stylesheet" href="/styles/recipe.css">
</head>
<body>
  <header>
    {% include "./parts/logo.njk" %}
    {% include "./parts/links.njk" %}
  </header>

  <main>
    <div id="iten">
      <img id="imgRecipe" src="{{ recipe.image }}" alt="">
      <h2 id="recipeTitle">{{ recipe.title }}</h2>
      <p>por {{ recipe.author }}</p>
    </div>
    
    <div class="titleAndButton">
      <h3 class="desciptionTitles">Ingredientes</h3>
      <button class="showOrRide">Mostrar/Esconder</button>
    </div>
    <ul class="descriptionRecipes">
      <li>{{ recipe.ingredients }}</li>
    </ul>

    <div class="titleAndButton">
      <h3 class="desciptionTitles">Preparação</h3>
      <button class="showOrRide">Mostrar/Esconder</button>
    </div>
    <ul class="descriptionRecipes">
      <li>{{ recipe.preparation }}</li>
    </ul>

    <div class="titleAndButton">
      <h3 class="desciptionTitles">Informação</h3>
      <button class="showOrRide">Mostrar/Esconder</button>
    </div>
    <p class="descriptionRecipes">{{ recipe.information }}</p>
  </main>

  {% include "./parts/footer.njk" %}

  <script src="/scripts/script.js"></script>
  <script src="/scripts/mostrar.js"></script>

</body>

</html>