<div id="descriptionContainer">
  <div id="textDescription">
    <h2>As melhores receitas</h2>
    <p>
      Aprenda a construir os melhores pratos
      com receitas criadas por profissionais
      do mundo inteiro.
    </p>
  </div>
  <img id="chef" src="/images/chef.png" alt="">
</div>