* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 30px 250px 0px 250px;
  display: grid;
  grid-template-columns: auto 1fr;
}

#logoContainer {
  width: 250px;
}

#logo {
  width: 100%;
  font-family: 'Playfair Display', sans-serif;
  font-weight: lighter;
}

#details {
  display: grid;
  /* grid-template-columns: 4fr auto; */
  grid-template-columns: 1fr 4fr;

  align-items: flex-end;
  
}

#details a {
  font-weight: lighter;
  text-decoration: none;
  color: inherit;
}

#details a:hover {
  font-weight: bold;
}

main {
  padding: 30px 250px;
  margin-bottom: auto;
}

main h3 {
  padding-top: 10px;
}

main p {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 10px;
}

footer {
  background-color: #eee;
}

footer p {
  margin: 0;
  padding: 23px;
  text-align: center;
  color: #999;
}